Repository lolka00lol/FlaskWebApp: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, hadolint

lefthook.yml:

---  # yamllint disable-line rule:new-lines
pre-commit:
  commands:
    yamllint:
      glob: "*.{yaml,yml}"
      name: "Linting YAML files with YAMLlint"
      run: yamllint {all_files}
    hadolint:
      glob: "Dockerfile*"
      name: "Check Dockerfile on Errors"
      run: hadolint {all_files}
    black-formatting:
      glob: "*.py"
      exclude: "venv/**"
      name: "Formatting with black"
      run: black {all_files}
    flake8:
      glob: "*.py"
      exclude: "venv/**"
      name: "Linting with flake8"
      run: flake8 --ignore=E501 {all_files}
    git-secrets:
      name: "Scan secrets in git"
      run: git secrets --scan

Feature: add osv-scanner.toml - cfg file for OSV-scanner
  osv-scanner.toml
  requirements.txt
Due: none

Added semgrep-rules for FlaskWebApp
  .dockerignore
  .gitignore
  .semgrepignore
  Dockerfile
  app.py
  lefthook.yml
  osv-scanner.toml
Due: yamllint, hadolint

Okay
  lefthook.yml
Due: yamllint

Feature: add support to KICS for IaC
  .dockerignore
  kics.yml
  reports/IaC/results.html
  reports/SAST/report.json
  reports/SCA/output_opensca.html
  reports/SCA/output_opensca.json
  reports/SCA/result-OSVscanner.html
Due: yamllint

Fix: update dockerfile, yml files & add grype config
  Dockerfile
  grype.yml
  kics.yml
  lefthook.yml
  reports/ContainerScanning/output.txt
  yamllint.yml
Due: yamllint, hadolint

Fix: revive vulns & docker image
  Dockerfile
  app.py
Due: hadolint

Fix: forgeted about remove in login check passwd with hash
  app.py
Due: none

Fix: update vulnerability
  app.py
Due: none

Fix: add some styles :)
  app/static/styles/style.css
  main.db
Due: none

Add nuclei, but that doesn't work greate, need good templates for :(
  nuclei.yml
Due: yamllint

Remove nuclei config & add OWASP ZAP!
  .dockerignore
  .semgrepignore
  nuclei.yml
  owaspzap.conf
  reports/DAST/result.html
Due: yamllint

Feature: modify workflows file | add SCA scanning
  .github/workflows/sdlc-security.yml
Due: yamllint

Fix: SCA scanning
  .github/workflows/sdlc-security.yml
Due: yamllint

Fix: SCA
  .github/workflows/sdlc-security.yml
Due: yamllint

Try to trigger SCA
  requirements.txt
Due: none

Try to trigger SCA #2
  .github/workflows/sdlc-security.yml
Due: yamllint

Try to trigger SCA #3
  .github/workflows/sdlc-security.yml
Due: yamllint

Try to trigger SCA #4
  .github/workflows/sdlc-security.yml
Due: yamllint

Try to trigger SCA #5
  .github/workflows/sdlc-security.yml
Due: yamllint

Try to trigger SCA #6
  .github/workflows/sdlc-security.yml
Due: yamllint

Try to trigger SCA #7
  .github/workflows/sdlc-security.yml
  requirements.txt
Due: yamllint

Add semgrep SAST scan | Try #1
  .github/workflows/sdlc-security.yml
  .gitignore
  .semgrepignore
  reports/ContainerScanning/output.txt
  reports/DAST/result.html
  reports/IaC/results.html
  reports/SAST/report.json
  reports/SCA/output_opensca.html
  reports/SCA/output_opensca.json
  reports/SCA/result-OSVscanner.html
Due: yamllint

Add semgrep SAST scan | Try #2
  .github/workflows/sdlc-security.yml
Due: yamllint

Add semgrep SAST scan | Try #3
  .github/workflows/sdlc-security.yml
Due: yamllint

Add semgrep SAST scan | Try #4
  .github/workflows/sdlc-security.yml
Due: yamllint

Add semgrep SAST scan | Try #5
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #1
  .github/workflows/sdlc-security.yml
  kics.yml
Due: yamllint

Add kics IaC scan | Try #2
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #3
  kics.yml
Due: yamllint

Add kics IaC scan | Try #4
  kics.yml
Due: yamllint

Add kics IaC scan | Try #5
  .github/workflows/sdlc-security.yml
  kics.yml
Due: yamllint

Add kics IaC scan | Try #5 | Test
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #6
  .github/workflows/sdlc-security.yml
  kics.yml
Due: yamllint

Add kics IaC scan | Try #7
  .github/workflows/sdlc-security.yml
Due: yamllint
