Repository lolka00lol/FlaskWebApp: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, hadolint

lefthook.yml:

---
pre-commit:
  commands:
    yamllint:
      glob: "*.{yaml,yml}"
      exclude: "semgrep-rules"
      name: "Linting YAML files with YAMLlint"
      run: yamllint -c ./yamllint.yml {all_files}
    hadolint:
      glob: "Dockerfile*"
      name: "Check Dockerfile on Errors"
      run: hadolint {all_files}
    black-formatting:
      glob: "*.py"
      exclude: "venv/**"
      name: "Formatting with black"
      run: black -l 79 {all_files}
    flake8:
      glob: "*.py"
      exclude: "venv/**"
      name: "Linting with flake8"
      run: flake8 --ignore E501 {all_files}
    git-secrets:
      name: "Scan secrets in git"
      run: git secrets --scan

Add kics IaC scan | Try #8
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #9
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #10
  .gitignore
Due: none

Add kics IaC scan | Try #11
  kics.yml
Due: yamllint

Add kics IaC scan | Try #12
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #13
  .github/workflows/sdlc-security.yml
  kics.yml
Due: yamllint

Add kics IaC scan | Try #14
  .github/workflows/sdlc-security.yml
Due: yamllint

Add kics IaC scan | Try #15
  .dockerignore
  .github/workflows/sdlc-security.yml
  .semgrepignore
  kics.yml
Due: yamllint

Add kics IaC scan | Try #16
  kics.json
Due: none

Revert "Add kics IaC scan | Try #15"
  .dockerignore
  .github/workflows/sdlc-security.yml
  .semgrepignore
  kics.yml
Due: yamllint

Add kics IaC scan | Try #17
  .github/workflows/sdlc-security.yml
  kics.yml
Due: yamllint

Add Grype | Container scanning #1
  .github/workflows/sdlc-security.yml
Due: yamllint

Add Grype | Container scanning #2
  .github/workflows/sdlc-security.yml
Due: yamllint

OWASP ZAP test #1
  .github/workflows/sdlc-security.yml
  grype.yml
  kics.json
Due: yamllint

OWASP ZAP test #2
  .github/workflows/sdlc-security.yml
Due: yamllint

OWASP ZAP test #3
  .github/workflows/sdlc-security.yml
Due: yamllint

OWASP ZAP test #4
  .github/workflows/sdlc-security.yml
Due: yamllint

OWASP ZAP test #5
  .github/workflows/sdlc-security.yml
  Dockerfile
  app.py
Due: yamllint, hadolint

OWASP ZAP test #6
  .github/workflows/sdlc-security.yml
  app.py
Due: yamllint

Think it's final moves ;)
  .github/workflows/sdlc-security.yml
  Dockerfile
Due: yamllint, hadolint

Oops... :/
  Dockerfile
Due: hadolint

Try again... :"
  .github/workflows/sdlc-security.yml
Due: yamllint

Try again... :\ #2
  .github/workflows/sdlc-security.yml
Due: yamllint

Try again... :\ #3
  .github/workflows/sdlc-security.yml
  app.py
Due: yamllint

Fix workflow #1
  .github/workflows/sdlc-security.yml
  app.py
Due: yamllint

This last test for DAST utility (If its worked :D)
  .github/workflows/sdlc-security.yml
Due: yamllint

Try other
  .github/workflows/sdlc-security.yml
Due: yamllint

Let done with that shit >:)))
  .github/workflows/sdlc-security.yml
  requirements.txt
Due: yamllint

Let done with that shit >:)))
  .github/workflows/sdlc-security.yml
Due: yamllint

Let done with that shit >:))) (add for test vuln pkg)
  .github/workflows/sdlc-security.yml
  requirements.txt
Due: yamllint

Change period life of artifacts to 30 days
  .github/workflows/sdlc-security.yml
Due: yamllint

Check some vuln: IDOR, OpenRedirects, A07:2021
  app.py
Due: none

Modify some
  app.py
Due: none

fix kics.yml
  kics.yml
Due: yamllint

Test
  requirements.txt
Due: none

Test #2
  .github/workflows/sdlc-security.yml
  requirements.txt
Due: yamllint

Test #3
  .github/workflows/sdlc-security.yml
Due: yamllint
